@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
}

.swiper {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

body {
   background-color: #1e1e1e06;
}

.swiper-button-prev {
   left: 0 !important;
   height: 100% !important;
   top: 22px !important;
   background: #f9f9f9 !important;
   width: 40px !important;
}
.swiper-button-next {
   right: 0 !important;
   height: 100% !important;
   top: 22px !important;
   background: #f9f9f9 !important;
   width: 40px !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
   font-size: larger !important;
   font-weight: 700 !important;
}

/* width */
::-webkit-scrollbar {
   width: 8px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #ffffff;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #0578FF;
   border-radius: 5px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #024eaf;
 }
 